<section class="card" id="card-comments">
    <header>{{title}}</header>

    <div class="card-body">
      <p>Username: {{username}}</p>
      <p class="game-comments">{{comment}}</p>
      
    </div>
  </a>
</section>